@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    background-color: white;

}




a {
    text-decoration: none;
}

a:hover {
    color: #555;
}



.dark-theme header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    background-color: #121212;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    margin: 0 10px;
    list-style: none;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    font-size: 18px;
    font-weight: bold;
}

nav button {
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.dark-theme ul a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.dark-theme nav a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

/* Styly pro obsah stránky */
main {
    max-width: 999px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-theme main{
    max-width: 999px;
    margin-top: 20px;
    padding: 0 20px;
    background-color: #202020;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
}

.schedule h2,
.games h2,
.register h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

.schedule table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid grey;
    padding: 10px 0px 10px 5px;
}

.schedule th {
    padding: 10px;
    font-weight: bold;
    text-align: left;
}




.schedule td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.register label {
    display: block;
    font-size: 18px;
}

.register {
    border: 2px solid grey;
    border-radius: 1em;
    padding: 10px 0px 10px 5px;
}

.register input[type="text"],
.register select,
.register textarea {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 900px;
}

.twitch-stream-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}


/* Styly pro patičku */



@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }
}

.twitch-embed {



}


.live-stream {

    padding: 20px;
    text-align: center;
}

.round-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black ;
    color: #fff;
    border: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.round-button:hover {
    background-color: grey;
}

.round-button:focus {
    outline: none;
}




